.shopcategory-banner{
    display: block;
    width: 82%;
    margin: 30px auto;
}
.shopcategory-indexsort{
    display: flex;
    margin:  0 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 40px;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
    font-size: 18px;
    width: 370px;
    height: 70px;
    border-radius: 75px;
    background-color: #cecbcb;
    color: #787878;
    font-weight: 600;
    cursor: pointer;
}