.offers{
    display: flex;
    background: #ccc;
    height: 75vh;

}
.offers-left{
    flex: 1;
flex-direction: column;
justify-content: center;
gap: 20px;
line-height: 1.1;
padding-left: 180px;
margin-top: 100px;
}
.offers-left h1{
    color: #3c3a3a;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #3c3a3a;
    font-size: 20px;
    font-weight: 600;
}
.offers-left button {
    width: 280px;
    height: 70px;
    border-radius: 30px;
    background-color: #74ee86;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1; 
   justify-content: center;
   align-items: center;
}
